$red: #e06c75;
$dark_red: #be5046;
$green: #98c379;
$yellow: #e5c07b;
$dark_yellow: #d19a66;
$blue: #61afef;
$purple: #c678dd;
$cyan: #56b6c2;
$white: #abb2bf;
$grey: #5c6370;
$light: #c6cdda;
$black: #282c34;
$foreground: #abb2bf;
$background: rgba(43, 48, 59, 0.85);
$background-widget: rgba(43, 48, 59, 0.95);
$trans: rgba(0, 0, 0, 0);
